{% extends "base.html" %}

{% block title %}Settings{% endblock title %}

{% block banner %}
{% endblock banner %}


{% block content %}


  <div class="page-section container">

                <div class="row">
                  <div class="col-lg-2">
                    <div class="card card-fluid">
                      <h6 class="card-header"> Settings </h6>
                      <nav class="nav nav-tabs flex-column border-0">
                        <a id="profile_update" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true" class="nav-link active">Profile</a>
                        <a id="account_update" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="true"class="nav-link">Account</a>
                        <a id="password_update" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="true"class="nav-link">Password</a>
                        <a id="billing_update" data-toggle="tab" href="#premium" role="tab" aria-controls="premium" aria-selected="true"class="nav-link">Billing</a>
                      </nav>
                    </div>
                  </div>
                  <div class="tab-content col-lg-10" id="myTabContent">



                    <!-- Profile -->

                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <div class="card card-fluid">
                        <h6 class="card-header"> Public Profile </h6>
                        <div class="card-body">
                          <form action="{% url 'user:settings' %}" method="post" enctype="multipart/form-data">

                            {% csrf_token %}

                            <div class="media mb-3">
                            <!-- avatar -->
                            <div class="user-avatar user-avatar-xl fileinput-button">
                              <div class="fileinput-button-label">{% if perms.user.can_upload_profile_picture %} Change photo{% else %} Need Premium{% endif %}</div>
                                <img src="{% if request.user.profile.avatar_url %}{{ request.user.profile.avatar_url }}{% else %}https://robohash.org/{{request.user.username}}?size=100x100&&bgset=bg1{% endif %}" class="profile rounded-circle" /> {{ request.user.username }}
                              <input id="fileupload-avatar" type="file" name="avatar_image"{% if not perms.user.can_upload_profile_picture %} disabled{% endif %}>
                            </div>
                            <div class="media-body pl-3">
                              <h3 class="strong">{{request.user.username}}</h3>
                                <h6 class="text-muted">Click the current avatar to change your photo. </h6>
                              {% if not perms.user.can_upload_profile_picture %}
                                <h6 class="card-subtitle text-danger mt-2">You need to be a premium member to upload your custom profile picture </h6>
                              {% endif %}
                            </div>
                          </div>



                            <div class="form-row">
                              <label for="input02" class="col-md-3">Intro</label>
                              <div class="col-md-9 mb-3">
                                <input type="text" name="intro" class="form-control" placeholder="Write down a one liner that represents you" id="input02" value="{{request.user.profile.intro}}">
                                <small class="text-warning">Appears on your profile page.</small>
                              </div>
                            </div>

                            <div class="form-row">
                              <!-- form column -->
                              <label for="input03" class="col-md-3">Bio</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <textarea class="form-control" name="bio" placeholder="Say something about yourself" id="input03">{{request.user.profile.bio}}</textarea>
                              </div>
                            </div>


                            <div class="form-row">
                              <!-- form column -->
                              <label for="input003" class="col-md-3">Interests</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <textarea class="form-control" name="interests" placeholder="Add interests seperated by commas e.g. food, music, ..." id="input003">{{request.user.profile.interests_string}}</textarea>
                              </div>
                            </div>


                            <div class="form-row">
                              <label for="example-date-input" class="col-md-3">Birth Date</label>
                              <div class="col-md-9 mb-3">
                                <input class="form-control" name="birth_date" type="date" value="{{request.user.profile.birth_date|date:'Y-m-d'}}" id="birth-date-input">
                              </div>
                            </div>



                            <div class="form-row">
                              <!-- form column -->
                              <label for="input04" class="col-md-3">Privacy</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" name="is_private" value="yep" id="input04"{% if not perms.user.can_make_profile_private %} disabled{% endif %}{% if request.user.profile.is_private %} checked{% endif %}>
                                  <label for="input04">Make my profile Private</label>
                                </div>
                              </div>
                            </div>
                            <hr>
                            <!-- .form-actions -->
                            <div class="form-actions">
                              <button type="submit" name = "profile_update" value="1" class="btn btn-primary ml-auto">Update Profile</button>
                            </div><!-- /.form-actions -->
                          </form><!-- /form -->
                        </div><!-- /.card-body -->
                      </div><!-- /.card -->
                      <!-- .card -->
                      <div class="card card-fluid">
                        <h6 class="card-header"> Social Networks </h6>

                        <!-- form -->
                        <form action="{% url 'user:settings' %}" method="post">
                          {% csrf_token %}
                          <div class="list-group list-group-flush mt-3 mb-0">

                            <div class="list-group-item d-flex justify-content-start">

                              <div class="list-group-item-figure">
                                <div class="tile tile-md bg-reddit">
                                  <i class="fa fa-reddit"></i>
                                </div>
                              </div>

                              <div class="list-group-item-body">
                                <input type="text" class="form-control" name = "reddit_username" value = "{{request.user.profile.social.reddit_username}}" id="reddit" placeholder="Reddit Username">
                              </div><!-- /.list-group-item-body -->
                            </div><!-- /.list-group-item -->

                            <div class="list-group-item d-flex justify-content-start">

                              <div class="list-group-item-figure">
                                <div class="tile tile-md bg-facebook">
                                  <i class="fa fa-facebook"></i>
                                </div>
                              </div>

                              <div class="list-group-item-body">
                                <input type="text" class="form-control" name = "facebook_username" value = "{{request.user.profile.social.facebook_username}}" id="facebook" placeholder="Facebook Username">
                              </div><!-- /.list-group-item-body -->
                            </div><!-- /.list-group-item -->

                            <div class="list-group-item d-flex justify-content-start">

                              <div class="list-group-item-figure">
                                <div class="tile tile-md bg-linkedin">
                                  <i class="fa fa-linkedin"></i>
                                </div>
                              </div>

                              <div class="list-group-item-body">
                                <input type="text" class="form-control" name = "linkedin_username" value = "{{request.user.profile.social.linkedin_username}}" id="linkedin" placeholder="Linkedin Username">
                              </div><!-- /.list-group-item-body -->
                            </div><!-- /.list-group-item -->

                            <div class="list-group-item d-flex justify-content-start">

                              <div class="list-group-item-figure">
                                <div class="tile tile-md bg-discord">
                                  <i class="fab fa-discord"></i>
                                </div>
                              </div>

                              <div class="list-group-item-body">
                                <input type="text" class="form-control" name = "discord_username" value = "{{request.user.profile.social.discord_username}}" id="discord" placeholder="Discord Username">
                              </div><!-- /.list-group-item-body -->
                            </div><!-- /.list-group-item -->

                            <div class="list-group-item d-flex justify-content-start">

                              <div class="list-group-item-figure">
                                <div class="tile tile-md bg-github">
                                  <i class="fa fa-github"></i>
                                </div>
                              </div>

                              <div class="list-group-item-body">
                                <input type="text" class="form-control" name = "github_username" value = "{{request.user.profile.social.github_username}}" id="github" placeholder="Github Username">
                              </div><!-- /.list-group-item-body -->
                            </div><!-- /.list-group-item -->
                          </div><!-- /.list-group -->
                          <!-- .card-body -->
                          <div class="card-body">
                            <!-- .form-actions -->
                            <div class="form-actions">
                              <button type="submit" name="social_update" value="1" class="btn btn-primary ml-auto">Update Socials</button>
                            </div><!-- /.form-actions -->
                          </div><!-- /.card-body -->
                        </form><!-- /form -->
                      </div><!-- /.card -->
                    </div>


                    <!-- Account -->



                    <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                      <div class="card card-fluid">
                        <h6 class="card-header"> Account </h6><!-- .card-body -->
                        <div class="card-body">
                          <!-- form -->
                          <form action="{% url 'user:settings' %}" method="post">
                            {% csrf_token %}

                            <div class="form-row">
                              <!-- form column -->
                              <div class="col-md-6 mb-3">
                                <label for="input01">First Name</label>
                                <input type="text" class="form-control" id="input01" name="first_name" placeholder="first name" value="{{request.user.first_name}}" required>
                              </div>
                              <!-- form column -->
                              <div class="col-md-6 mb-3">
                                <label for="input02">Last Name</label>
                                <input type="text" class="form-control" id="input02" name="last_name" placeholder="last name" value="{{request.user.last_name}}" required>
                              </div>
                            </div>
                            <!-- .form-group -->
                            <div class="form-group">
                              <label for="input03">Email</label>
                              <input type="email" class="form-control" id="input03" name="email" placeholder="email" value="{{request.user.email}}" required>
                            </div><!-- /.form-group -->
                            <!-- .form-group -->
                            <div class="form-group">
                              <label for="input05">Username</label>
                              <input type="text" class="form-control" id="input05" name="username" value={{request.user.username}}
                              {% if not perms.user.can_change_username %} readonly style="background : rgba(0,0,0,0.2)"
                              >
                              <small class="text-danger">You need to be a premium user to change your username</small>
                              {% else %}>{% endif %}
                            </div><!-- /.form-group -->
                            <hr>
                            <!-- .form-actions -->
                            <div class="form-actions">
                              <!-- enable submit btn when user type their current password -->
                              <input type="password" class="form-control mr-3" id="input06" name="password" placeholder="Enter Current Password" required>
                              <button type="submit" name="account_update" value="1" class="btn btn-primary text-nowrap ml-auto">Update Account</button>
                            </div><!-- /.form-actions -->
                          </form><!-- /form -->
                        </div><!-- /.card-body -->
                      </div>
                    </div>




                    <!-- Password -->


                    <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                       <div class="card card-fluid">
                        <h6 class="card-header"> Account </h6><!-- .card-body -->
                        <div class="card-body">
                          <!-- form -->
                          <form action="{% url 'user:settings' %}" method="post">
                              {% csrf_token %}
                             <label for="input06">Current Password</label> <input type="password" name="old_password" pattern = ".{6,}" class="form-control mr-3" id="input06" placeholder="Enter Current Password" required>

                            <hr>

                            <div class="form-group">
                              <label for="input04">New Password</label> <input type="password" name="new_password" pattern = ".{6,}"  class="form-control" id="input04" placeholder="Enter New Password" required>
                            </div>

                            <div class="form-group">
                              <label for="input04">Retype New Password</label> <input type="password" name="new_password_repeat" pattern = ".{6,}" class="form-control" id="input04"  placeholder="Re-Enter New Password" required>
                            </div>

                            <button type="submit" name="password_update" value="1" class="btn btn-primary text-nowrap ml-auto">Change Password</button>


                          </form><!-- /form -->
                        </div><!-- /.card-body -->
                      </div>
                    </div>


                    <!-- Premium -->


                    <div class="tab-pane fade" id="premium" role="tabpanel" aria-labelledby="premium-tab">
                      <div class="card card-fluid">
                        <h6 class="card-header"> Billing Information </h6><!-- .card-body -->
                        <div class="card-body">
                          <!-- form -->
                          <form action="{% url 'user:settings' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                              <!-- form column -->
                              <label for="input01" class="col-md-3">First Name</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <input type="text" placeholder="first name" class="form-control" id="input01" name="first_name" value="{{request.user.first_name}}" required>
                              </div>
                            </div>

                            <div class="form-row">
                              <!-- form column -->
                              <label for="input02" class="col-md-3">Last Name</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <input type="text" placeholder="last name" class="form-control" id="input02" name="last_name" value="{{request.user.last_name}}" required>
                              </div>
                            </div>

                            <div class="form-row">
                              <!-- form column -->
                              <label for="input03" class="col-md-3">Country</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <select id="input03" name = "country" class="custom-select">
                                  <option value=""> Select your country </option>
                                  {% for key, value in countries %}
                                    <option value = "{{ key }}"{% if request.user.profile.location.country == key %} selected{% endif %}>{{ value }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>

                            <div class="form-row">
                              <!-- form column -->
                              <label for="input04" class="col-md-3">Address</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <input type="text" placeholder="address" class="form-control" id="input04" name="address" value="{{request.user.profile.location.address}}" required>
                              </div>
                            </div>

                            <div class="form-row">
                              <!-- form column -->
                              <label for="input06" class="col-md-3">City</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <input type="text" placeholder="city" class="form-control" id="input06" name="city" value="{{request.user.profile.location.city}}" required>
                              </div>
                            </div>

                            <div class="form-row">
                              <!-- form column -->
                              <label for="input07" class="col-md-3">Province / Region</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <input type="text" placeholder="province" class="form-control" id="input07" name="province" value="{{request.user.profile.location.province}}" required>
                              </div>
                            </div>

                            <div class="form-row">
                              <!-- form column -->
                              <label for="input08" class="col-md-3">Zip / Postal Code</label>
                              <!-- form column -->
                              <div class="col-md-9 mb-3">
                                <input type="number" class="form-control" placeholder="postal code" id="input08" name="zip_code" value="{{request.user.profile.location.zip_code}}" required>
                              </div>
                            </div>
                            <hr class="my-4">
                            <h4 class="card-title"> Payment </h4><!-- .custom-control -->
                            <div class="mb-2">
                              <div>

                                <div class="form-row">
                                  <!-- form col -->
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <div class="form-label-group">
                                        <input type="text" class="form-control" id="pm1" name="card_holder" value="{{request.user.profile.card.card_holder}}" placeholder="Name on card">
                                        <label for="pm1">Card holder</label>
                                      </div>
                                    </div>
                                  </div><!-- /form col -->
                                  <!-- form col -->
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <div class="form-label-group">
                                        <input type="number" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|[25][1-7][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$" class="form-control" id="pm2" name="card_number" value="{{request.user.profile.card.card_number}}" placeholder="XXXX XXXX XXXX XXXX">
                                        <label for="pm2">Card number</label>
                                      </div>
                                    </div>
                                  </div><!-- /form col -->
                                </div>

                                <div class="form-row">
                                  <!-- form col -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <div class="form-label-group">
                                        <input type="date" class="form-control" id="pm3" name="exp_date" value="{{request.user.profile.card.exp_date|date:'Y-m-d'}}" placeholder="MM/YY">
                                        <label for="pm3">Exp. date</label>
                                      </div>
                                    </div>
                                  </div><!-- /form col -->
                                  <div class="col-md-6"></div>
                                  <!-- form col -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <div class="form-label-group">
                                        <input type="number" min = '99' max='9999' class="form-control" id="pm4" name="cvc" value="{{request.user.profile.card.cvc}}" placeholder="XXX">
                                        <label for="pm4">CVC</label>
                                      </div>
                                    </div>
                                  </div><!-- /form col -->
                                  <!-- form col -->
                                </div>
                                <hr>
                                <input type="password" class="form-control mr-3" id="input06" name="password" placeholder="Enter Current Password" required>
                              </div><!-- /.custom-control-hint -->
                            </div><!-- /.custom-control -->
                            <!-- .custom-control -->
                            <hr>
                            <!-- .form-actions -->
                            <div class="text-center">
                              <button type="submit" name="billing_update" value="1" class="btn btn-primary ml-auto">Update Billing</button>
                            </div><!-- /.form-actions -->
                          </form><!-- /form -->
                        </div><!-- /.card-body -->
                      </div>
                    </div>
                  </div>
                </div><!-- /grid row -->
              </div>



<script>


document.addEventListener("DOMContentLoaded", () => {
  const params = new URLSearchParams(window.location.search);
  const togo = params.get('target');
  const toclick = document.getElementById(togo);
  toclick.click();
});

</script>


{% endblock content %}
