{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        {% block title %} Koora {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://uselooper.com/assets/stylesheets/theme.min.css" data-skin="default">
    <link rel="stylesheet" href="https://uselooper.com/assets/stylesheets/theme-dark.min.css" data-skin="dark" disabled="true">
    <link rel="stylesheet" href="https://uselooper.com/assets/stylesheets/custom.css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" /> {% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    {% comment %} <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}" /> {% endblock css %}
</head>

<body>

    <div class="main-container">
        <div class="body-content">
                    <header class="bg-light">
            <nav class="container mb-5 navbar navbar-expand-lg navbar-light bg-light info-color">
            <ul class="nav navbar-nav">
                <li class="nav-item pl-3{% ifequal page_name 'home'%} active{% endifequal %}">
                    <a class="navbar-brand nav-link" href="{% url 'home' %}">Koora</a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="nav-item{% ifequal page_name 'create_article' %} active{% endifequal %}">
                        <a class="nav-link" href="{% url 'articles:create' %}">
                            <i class="fa fa-edit" style="font-size:16px;line-height:1.5;top:0px;"></i> Create Article
                        </a>
                    </li>
                    {% comment %} <li class="nav-item{% ifequal page_name 'ask_question' %} active{% endifequal %}">
                        <a class="nav-link mx-2" href="#">
                            <i class="fa fa-question" style="font-size:18px"></i> Ask Question
                        </a>
                    </li> {% endcomment %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item{% ifequal page_name 'articles' %} active{% endifequal %}">
                        <a class="nav-link" href="{% url 'articles:list' %}">Articles</a>
                    </li>
                    {% comment %} <li class="nav-item{% ifequal page_name 'questions' %} active{% endifequal %}">
                        <a class="nav-link" href="#">Questions</a>
                    </li> {% endcomment %}
                    <li class="nav-item dropdown">
                        {% if request.user.is_authenticated %}
                        <a href="#" class="nav-link dropdown-toggle d-inline" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% if request.user.profile.avatar_url %} {{ request.user.profile.avatar_url }} {% else %}https://robohash.org/{{request.user.username}}?size=40x40{% endif %}" class="profile rounded-circle" /> {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'user:profile' %}">My Profile</a>
                            <a class="dropdown-item" href="{% url 'user:settings' %}">Settings</a>
                            <div class="dropdown-divider"></div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="darkSwitch">
                                <label class="custom-control-label ml-3" for="darkSwitch">Dark Mode</label>
                                </div>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log Out</a>
                            </div>
                            {% else %}
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    <span class="ml-1">Account</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
                                <a class="dropdown-item" href="{% url 'accounts:register' %}">
                                    Sign Up
                                </a>
                            </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            {% if message %}
                <div class="alert alert-{{ message.type }}">
                    {{ message.content }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>

        {% block banner %}
        <div class="banner text-center">
            <h1 class="display-4 header">Welcome to Koora</h1>
            <p class="lead footer">Search your queries below</p>
        </div>
        {% endblock banner%} {% block content %}

        <div class="container main-content">
            <div class="row">
                <div class="categ col-lg-2 text-center">
                    <ul class="aside-lg list-group">
                        <div class="list-group-item bg-light hover-black">
                            Categories
                        </div>
                        <a href="{% url 'articles:list'%}?" class="list-group-item list-group-item-action">
                            ALL
                        </a>
                        {% if categories %} {% for key, value in categories %}
                        <a href="{% url 'articles:list'%}?category={{value}}" class="list-group-item list-group-item-action">
                            {{value}}
                        </a>
                        {% endfor%} {% else %} No Categories available! {% endif %}
                    </ul>
                </div>

                <div class="col-lg-8">
                    {% block midcontent %}

                    <div class="row justify-content-center warm-flame-gradient color-block mb-3 mx-auto z-depth-1-half">
                        <form class="card card-sm bg-white" style="border:none;width:85%" action="{% url 'articles:list' %}" method="get">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <input name="searchQuery" class="form-control form-control-lg form-control-borderless" type="text" placeholder="Search topics or keywords" required/>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-lg btn-success ml-2" type="submit">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    {% endblock midcontent %}
                </div>

                <div class="col-lg-2 text-center">
                    <div class="card card-fluid">
                        <div class="card-header">
                            Popular Tags
                        </div>
                        <div class="card-body">
                            {% if popular_tags %} {% for tag in popular_tags %}
                            <h5 class="m-1" style="display:inline">
                                <a
                                    href="{% url 'articles:list'%}?tag={{tag.name}}"
                                    class="badge badge-pill badge-success" style="margin:2px;">
                                    {{tag.name}}
                                </a>
                            </h5>
                            {% endfor%} {% else %} No tags available! {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% endblock content %}
        </div>
                {% block footer %}
        <div class="page-footer navbar navbar-expand-lg navbar-light bg-light">
            <div class="container footer-copyright py-1 d-flex justify-content-between">
                <span class="lead">Copyright 2020 Koora</span>
                <span class="lead">All Rights Reserved</span>
            </div>
        </div>
        {% endblock footer %}
        </div>



        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>


        <script type="module" src="{% static 'js/request.js' %}"></script>
        <script type="module" src="{% static 'js/vote.js' %}"></script>
        <script type="module" src="{% static 'js/voter.js' %}"></script>

        <script type="module" src="{% static 'js/dark.js' %}"></script>
        <script type="module" src="{% static 'js/markdown.js' %}"></script>
        <script type="module" src="{% static 'js/share.js' %}"></script>


        {% block javascript %} {% endblock javascript%}
    </body>
</html>