


{% extends "base.html" %}
{% block content %}

    {% if error %}
    {{error}}
    {% endif %}
    <form method="post">
        {% csrf_token %}
                  <div class="form-group">
                     <input type="text" name="uname"  class="form-control my-input" id="name" placeholder="Name">
                  </div>
                  <div class="form-group">
                     <input type="email" name="mail"  class="form-control my-input" id="email" placeholder="Email">
                  </div>
                  <div class="form-group">
                     <input type="password" name="pass" id="repass"  class="form-control my-input" placeholder="Confirm password">
                  </div>
                  <div class="text-center ">
                     <input type="submit" class=" btn btn-block send-button tx-tfm" value="Login">
                  </div>
                  <div class="col-md-12 ">
                     <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                     </div>*
                  </div>
                  <div class="form-group">
                     <a class="btn btn-block g-button" href="#">
                     <i class="fa fa-google"></i> Sign up with Google
                     </a>
                  </div>
                  <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                  </p>
    </form>

{% endblock content %}
