{% extends "base.html" %}
{% block content %}
    {% if error %}
    {{error}}
    {% endif %}
               <form action="" method="post" name="login">
               {% csrf_token %}
                  <div class="form-group">
                     <input type="text" name="uname"  class="form-control my-input" id="name" placeholder="Username">
                  </div>
                  <div class="form-group">
                     <input type="email" name="mail"  class="form-control my-input" id="email" placeholder="Email">
                  </div>
                  <div class="form-group">
                     <input type="password" name="pass" id="pass"  class="form-control my-input" placeholder="Password">
                  </div>
                  <div class="form-group">
                     <input type="password" name="repass" id="repass"  class="form-control my-input" placeholder="Confirm password">
                  </div>
                  <div class="form-group">
                     <input type="number" min="0" name="phone" id="phone"  class="form-control my-input" placeholder="Phone">
                  </div>                                  
                  <div class="text-center ">
                     <button type="submit" class=" btn btn-block send-button tx-tfm">Register</button>
                  </div>
                  <div class="col-md-12 ">
                     <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                     </div>
                  </div>
                  <div class="form-group">
                     <a class="btn btn-block g-button" href="#">
                     <i class="fa fa-google"></i> Sign up with Google
                     </a>
                  </div>
                  <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                  </p>
               </form>
{% endblock content %}