{% extends "base.html" %}
{% load humanize %}
{% load cmt_tag %}

{% block title %}
    {{comment.user.username}}'s replies
{% endblock title %}

{% block banner %}
{% endblock banner %}

{% block midcontent %}

        <span class="lead">
            <h2 style="display:inline"><code>{{comment.user.username}}</code></h2 style="display:inline"> commented on 
            <strong>
                {% ifequal comment.user.username comment.content_object.user.username%}his{%else%}{{comment.content_object.user.username}}'s{%endifequal%}
            </strong>
            post : <h3 style="display:inline">
                        <a href="{% url 'articles:detail' comment.content_object.slug %}">
                        "{{comment.content_object.title|truncatechars:15}}"
                        </a>
                    </h3>
        </span>
        <hr>
        {%include 'comments/comment.html'%}

        <span class="lead">Replies on "{{comment.content|truncatechars:15}}"</span>
        <hr>

        <div class="comment-thread">
            {% if comment.children %}
                {% for comment in comment.children %}
                    {% include "comments/comment.html" %}
                {% endfor %}
            {% else %}
                <span class="lead">No replies on this thread yet!</span> 
            {% endif %}
        </div>
{% endblock midcontent %}