@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.slideIn {
    animation-name: slideIn;
}

.dropdown-toggle::after {
    color: #777 !important;
}

body {
    font-family: "Titillium Web", sans-serif;
}

.navbar-nav>li {
    float: left;
    position: relative;
}

.navbar-light .navbar-nav .active a::after {
    border-bottom: 5px solid #5cb85c;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}

.navbar-light .navbar-nav a {
    font-weight: 700;
    letter-spacing: 1px;
}

.banner {
    background: #5cb85c;
    color: white;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin-bottom: 2rem;
}

.header {
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

.footer {
    font-weight: 300;
}

.profile {
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    margin-right: 5px;
    transition: 0.3s ease;
    width: 40px;
    height: 40px
}

.profile:hover {
    transition: 0.3s ease;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 30px;
    margin-bottom: 30px;
}

.error-actions .btn {
    margin-right: 10px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.header-container {
    border: 5px solid lightgrey;
    border-radius: 12px;
}

.inner-header {
    position: relative;
    background: white;
    top: -19px;
    left: 20px;
    font-size: 22px;
    padding: 0px 14px;
    display: inline;
}

.comment-wrapper .panel-body {
    max-height: 650px;
    overflow: auto;
}

.comment-wrapper .media-list .media img {
    width: 52px;
    height: 52px;
    border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

.comment-thread {
    margin-left: 3%;
    padding-left: 6%;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.middle-dot {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin: 0px 4px 2px 4px;
    width: 6px;
}

.vote {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    transition: 0.3s;
}

.up-vote.active,
.btn.up-vote:hover,
.up-vote:hover i {
    color: red;
}

.down-vote.active,
.btn.down-vote:hover,
.down-vote:hover i {
    color: dodgerblue;
}

.vote-form {
    margin: 0px
}

.aside-lg .list-group-item:hover {
    background-color: #5cb85c;
    color: white;
}

.aside-lg .list-group-item:first-child:hover {
    background-color: grey;
    color: black;
}

.hover-black:hover {
    color: black;
}

#post_type:checked {
    color : green
}

.list-group .fab, .list-group .fa, #social .fab, #social .fa {
    font-size: 25px;
    line-height: 1.4;
}

.bg-reddit {
    background: #ff5700;
    color : white;
}

.bg-discord {
    background: #125688;
    color : white;
}

.list-group-item:last-child {
    border-width: 0px 0 0;
}


.main-container {
    position: relative;
    min-height: 100vh;
}


.body-content {
    padding-bottom: 5.5rem;
}

.page-footer {
    margin-top:40px;
    position:absolute;
    bottom:0px;
    width:100%;
    height: 3.5rem;
}



.categ .list-group-item {
    border : none;
}


@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@media (min-width: 400px) and (max-width: 992px) {
    .categ {
        display: none;
    }
}


