{% extends "base.html" %}
{% load humanize %}

{% block banner %}
{% endblock banner %}

{% block midcontent %}
    <div class="container">
        <div class="card gedf-card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <img class="rounded-circle profile" width="45" src=" {% if article.user.has_image %} {{ article.user.avatar_url }} {% else %}https://robohash.org/{{article.user.username}}?size=50x50{% endif %}" alt="avatar">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">{{article.user.username}}</div>
                    <div class="h7 text-muted">{{article.user.first_name}} {{article.user.last_name}}</div>
                </div>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="gedf-drop1">
                        {% if article.user == request.user %}
                                <button class="dropdown-item" style="border:none;color:lightred" data-toggle="modal" data-target="#ConfirmDelete">
                                    Delete
                                </button>
                                <a class="dropdown-item" href="{{ article.update_url }}">Update</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}

                        {% if article.image_url %}
                            <a class="dropdown-item" href="{{ article.image_url}}">Download</a>
                        {% endif %}
                        <a class="dropdown-item" href="#">Hide</a>
                        <a class="dropdown-item" href="#">Report</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ article.published_at|naturaltime }} </div>
        <h5 class="card-title">{{article.title}}</h5>
        {% if article.image_url %}
            <div class="cardbox-item">
                <img class="rounded mx-auto d-block img-fluid" src="{{ article.image_url}}" alt="Image">
            </div>
        {% endif %}

        <p class="card-text">
            {{article.get_markdown}}
        </p>
        <div>
            {% if article.tags %}
                <hr>
                <i class="fa fa-tags"></i> Tags:
                {% for tag in article.tags.all %}
                    <h5 class = "mx-1" style="display:inline">
                        <a href="{% url 'articles:list'%}?tag={{tag.name}}" class="badge badge-pill badge-success">{{tag.name}}</a>
                    </h5>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="card-footer bg-white d-flex justify-content-between">
        <form id="vote-form" action = "{% url 'articles:vote' %}" method="post" class="btn-group btn-group-toggle">
            {% csrf_token %}
            <input type="hidden" id="article_id" name="article_id" value="{{article.id}}">
            <input type="hidden" id="user_id" name="user_id" value="{{request.user.id}}">
            <button type ="submit" id="upvote-button" class="btn vote {% if vote_type != -1 and vote_type == True %}up-vote{%endif%}" name="vote" value="up">
                <i class = "fa fa-arrow-up"></i>
            </button>
            <label style="font-weight:bold;" id="vote-count" class="btn btn-success">
                {{article.vote_count}}
            </label>
            <button type = "submit" id="downvote-button" class="btn vote {% if vote_type != -1 and vote_type == False %}down-vote{%endif%}" name="vote" value="down">
                <i class="fa fa-arrow-down"></i>
            </button>
        </form>
        <a class="btn btn-success" role = "button" data-toggle="collapse" href="#commentSection" aria-expanded="false" aria-controls="commentSection">
                <i class="fa fa-comment"></i>
                Comments
        </a>
        <a href="#" class="btn btn-success"><i class="fa fa-mail-forward"></i> Share</a>
    </div>
</div>

<div class="collapse show mt-3" id="commentSection">
    <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-body" style="overflow:visible">
                    <form action = "{{ article.absolute_url }}" method = "POST">
                        {% csrf_token %}
                        <input type="hidden" id="object_id" name="object_id" value="{{article.id}}">
                        <textarea name = "content" class="form-control mt-3" placeholder="write a comment..." rows="3"></textarea>
                        <br>
                        <button type="submit" class="btn btn-success pull-right">Post</button>
                    </form>

                    {% include "comments/comments.html" %} 

            </div>
        </div>
    </div>
</div>




<!-- Confirm delete dialog box  -->
<div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">You sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Recovery Feature is not available yet which means deleting this article is going to be permanent and you can't access it ever again!
      </div>
      <div class="modal-footer">
        Press Confirm to delete and close if you don't think that's necessary
      </div>
      <div class="modal-footer">
        <form class = "d-flex justify-content-between" style="width:100%" action = "{% url 'articles:detail' article.slug %}" method='post'>
            {% csrf_token %}
            <input type="hidden" id="deletemode" name="deletemode" value="{{True}}">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock midcontent %}



{% block javascript %}

<script>

    var vote = null

    let upvoteButton = document.getElementById('upvote-button');
    let downvoteButton = document.getElementById('downvote-button');
    let voteCount = document.getElementById('vote-count');

    upvoteButton.onclick = event => {
        upvoteButton.classList.toggle('up-vote');
        downvoteButton.classList.remove('down-vote');
        vote = 'up'
    }
    downvoteButton.onclick = event => {
        downvoteButton.classList.toggle('down-vote');
        upvoteButton.classList.remove('up-vote');
        vote = 'down'
    }


    function post(url, data, csrf_token) {
        
        return new Promise((resolve, reject) => {
            let request = new XMLHttpRequest();
            request.open("POST", url, true);
            request.setRequestHeader('Content-Type', 'application/json');
            request.setRequestHeader("X-CSRFToken", csrf_token);
            request.onload = function() {
                resolve(JSON.parse(this.response));
            } 
            request.send(JSON.stringify(data));  
        })
    }

    function disableVoting() {
        upvoteButton.disabled = true;
        downvoteButton.disabled = true;
    }

    function enableVoting() {
        upvoteButton.disabled = false;
        downvoteButton.disabled = false;
    }

    
    voteForm = document.getElementById('vote-form');

    voteForm.onsubmit = event => {

        event.preventDefault();

        disableVoting();

        const { article_id, user_id, csrfmiddlewaretoken } = event.target;
        let url = event.target.action;

        let data = {
            article_id : article_id.value,
            user_id : user_id.value,
            vote_type : vote
        }

        post(url, data, csrfmiddlewaretoken.value)
        .then(response => voteCount.innerHTML = response.vote_count)
        .catch(error => console.log(error)) // TODO: show an error alert 
        .finally(() => enableVoting())
    }


</script>

{% endblock javascript%}
