{% extends "base.html" %}
{% load humanize %}
{% load social_share %}
{% load cmt_tag %}


{% block banner %}
{% endblock banner %}

{% block midcontent %}

    {% if article.user.username != request.user.username and article.is_private %}
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1 class="display-4">Private Article!</h1>
                    <h2 class="error-details">
                        You are not allowed to view this article
                    </h2>
                    <div class="error-actions">
                        <a href="{% url 'articles:list' %}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Go Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
        <div class="card gedf-card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'user:visitprofile' article.user.username %}">
                    <img class="rounded-circle profile" width="45" src="{% if article.user_avatar_url %}{{ article.user_avatar_url }}{% else %}https://robohash.org/{{article.user.username}}?size=50x50{% endif %}" alt="avatar">
                </a>
                <div class="ml-2">
                    <div class="h5 m-0">{{article.user.username}}</div>
                    <div class="h8 text-muted">{{article.user.first_name}} {{article.user.last_name}}</div>
                </div>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="gedf-drop1">

                        {% if article.user.username == request.user.username %}
                                <button class="dropdown-item" style="border:none;color:lightred" data-toggle="modal" data-target="#ConfirmDelete">
                                    Delete
                                </button>
                                <a class="dropdown-item" href="{{ article.update_url }}">Update</a>
                        {% endif %}

                        {% if article.user.username == reqest.user.username %}
                            <div class="dropdown-divider"></div>
                        {% endif %}

                        {% if article.image_url %}
                            <a class="dropdown-item" href="{{ article.image_url}}">Download</a>
                        {% endif %}

                        {% if article.user.username != request.user.username %}
                            {% if article.image_url %}
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a name = "{{article.title}}${{article.user.username}}" class="dropdown-item report-button" href="#">Report</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o" style="margin-right:5px"></i> {{ article.published_at|to_date|naturaltime }} </div>
            <span class="">
                <i  style="font-size:22px" title="This Article is {% if article.is_private %}Private{% else %}Public{% endif %}" class="fa fa-{% if article.is_private %}lock{% else %}globe{% endif %}"></i>
            </span>
        </div>
        <hr>
        <h5 class="card-title">{{article.title}}</h5>
        {% if article.image_url %}
            <div class="cardbox-item">
                <img class="rounded mx-auto d-block img-fluid" src="{{ article.image_url}}" alt="Image">
            </div>
        {% endif %}

        <div class="card-text to-markdown">{{article.content}}</div>
        <div>
            {% if article.tags %}
                <hr>
                <i class="fa fa-tags"></i> Tags:
                {% for tag in article.tags %}
                    <h5 class = "mx-1" style="display:inline">
                        <a href="{% url 'articles:list'%}?tag={{tag.name}}" class="badge badge-pill badge-success">{{tag.name}}</a>
                    </h5>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="card-footer bg-white d-flex justify-content-between">
        <form action = "{% url 'articles-api:vote' %}" method="post" class="btn-group btn-group-toggle vote-form">
            {% csrf_token %}
            {% with vote_type=article|vote_type_for:request.user.id %} 
            <input type="hidden" name="access_token" value="{{request.COOKIES.accessToken}}">
            <input type="hidden" name="object_id" value="{{article.id}}">
            <input type="hidden" name="model_name" value="{{article.c_type.model}}">
            <button type ="submit" class="upvote-button btn vote up-vote {% if vote_type != -1 and vote_type == True %}active{%endif%}" name="vote" value="up">
                <i class = "fa fa-arrow-up"></i>
            </button>
            <label style="font-weight:bold;"  id="article-vote-{{article.id}}" class="vote-count btn btn-info article-vote-count">
                {{article.vote_count}}
            </label>
            <button type = "submit" class="downvote-button btn vote down-vote {% if vote_type != -1 and vote_type == False %}active{%endif%}" name="vote" value="down">
                <i class="fa fa-arrow-down"></i>
            </button>
            {% endwith %}
        </form>
        <a class="btn btn-success" role = "button" data-toggle="collapse" href="#commentSection" aria-expanded="false" aria-controls="commentSection">
                <i class="fa fa-comment"></i>
                    Comments<span style="margin-left:8px" class="badge badge-light">{{article.all_comments}}</span>
        </a>
        <div class="dropdown">
            <a class="btn btn-success" role="button" id="gedf-drop3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color : white;">
                <i class="fa fa-share-alt"></i>
                    Share
            </a>
            <div class="dropdown-menu dropdown-menu-right animate slideIn" id="share-section" aria-labelledby="gedf-drop3">
                <div class="dropdown-item">{% post_to_facebook article.absolute_url "<i class='fa fa-facebook'>  facebook</i>" %}</div>
                <div class="dropdown-item">{% post_to_twitter "Check this out: '{{article.title}}' :" article.absolute_url "<i class='fa fa-twitter'>  twitter</i>" %}</div>
                <div class="dropdown-item">{% post_to_linkedin article.title article.absolute_url "<i class='fa fa-linkedin'>  LinkedIn</i>" %}</div>
                <div class="dropdown-item">{% post_to_reddit "Check this out: {{article.title}}" article.absolute_url  "<i class='fa fa-reddit'>  reddit</i>"%}</div>
            </div>
        </div>
    </div>
</div>

<div class="collapse show mt-3" id="commentSection">
    <div class="comment-wrapper">
        <div class="panel panel-info">
            <form action = "{{ article.absolute_url }}" method = "POST">
                {% csrf_token %}
                <input type="hidden" id="object_id" name="object_id" value="{{article.id}}">
                <textarea name = "content" class="form-control mt-3" placeholder="write a comment..." rows="3" required></textarea>
                <br>
                <button type="submit" class="btn btn-success pull-right">Post</button>
            </form>

            {% include "comments/comments.html" %} 

        </div>
    </div>
</div>




<!-- Confirm delete dialog box  -->
<div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">You sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Recovery Feature is not available yet which means deleting this article is going to be permanent and you can't access it ever again!
      </div>
      <div class="modal-footer" style="display:block;">
        Press Confirm to continue the delete process
      </div>
      <div class="modal-footer">
        <form style="margin:0px;width:100%;" class = "d-flex justify-content-between" style="width:100%" action = "{% url 'articles:detail' article.slug %}" method='post'>
            {% csrf_token %}
            <input type="hidden" id="deletemode" name="deletemode" value="{{True}}">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
    {% endif %}

{% endblock midcontent %}
