{% extends "base.html" %}

{% block title %}
Change Password
{% endblock title%}

{% block banner %}
{% endblock banner %}

{% block midcontent %}
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-sm-offset-3 text-center">
            <h1>Change Password</h1>
            <hr>
            <p class="text-center">Use the form below to change your password.</p>
                <hr>
                <form action = "{% url 'accounts:forgot' %}" method="post" id="passwordForm">
                    {% csrf_token %}
                    <input type="hidden" class="hide" name="user_id" value="{{user_id}}">
                    <input type="password" class="input-lg form-control mt-4 text-center" name="password" id="password" placeholder="Enter New Password" autocomplete="off">
                    <input type="password" class="input-lg form-control mt-4 text-center" name="password_repeat" id="password_repeat" placeholder="Repeat Password" autocomplete="off">
                    <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg mt-4 text-center" value="Change Password">
                </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

{% endblock midcontent %}