


{% extends "base.html" %}

{% block title %}
login to koora
{%endblock title%}
{% block banner %}
{%endblock banner%}

{% block midcontent %}

<div class="container d-flex justify-content-center mb-5">
      <h1 class="display-4 text-secondary">Login For Koora</h1>
</div>
    <div class="row">
          <form action ="{% url 'accounts:login' %}" method="post" style="width:70%;margin:auto">
        {% csrf_token %}
                  <div class="form-group">
                     <input type="text" name="username"  class="form-control my-input" id="name" placeholder="Name" required>
                  </div>

                  <div class="form-group">
                     <input type="password" name="password" id="password"  class="form-control my-input" placeholder="Password" required>
                  </div>            
                  <div class="text-center mt-2">
                     <button type="submit" class="btn btn-success">Sign In</button>
                  </div>
                  <div class="col-md-12 text-center">
                     <div class="login-or mt-2 mb-2">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                     </div>
                  </div>
                  <div class="form-group text-center">
                     <a class="btn btn-danger" href="{% url 'social:begin' 'google-oauth2' %}">
                     <i class="fa fa-google"></i> Sign in with Google
                     </a>
                  </div>

    </form>

    </div>
   
{% endblock midcontent %}
